<div ng-controller="MainCtrl">
  <form name="searchGiphy" ng-submit='main.getGif(query)'>
    <input class="searchInput" type='text'ng-model='query' ng-keyup="main.debouncedSearch(query)" placeholder="Search Term">
    <button>Go</button>
  </form>
  <div class="container" ng-show="main.responses">
    <div ng-repeat="response in main.responses" ng-class="{active: main.isCurrent($index)}" ng-mouseenter="main.setCurrent($index)" style="cursor:pointer">
      <div ng-click="main.chooseQuery(response)">{{response}}</div>
    </div>
  </div>
  <div>
    <!-- <img src="http://media4.giphy.com/media/3o6UB65bfF8P1anIZ2/200.gif"> -->
    <img src="{{main.gif.image}}">
  </div>
</div>


